<%- include('partials/header'); -%>


<div class= "reveal-grid">

<div class="before-after-section">

<div class="container">
  <div class="row">
    <div class="col-12 reveal-name"
        <p>
        Name : <%= firstName + " " + lastName  %> <br />
        </p>
    </div>
</div>

<div class="row info-position">
  <div class="col-lg-6 col-sm-12">
        <p class="before-info">

          Before Weight :<%= beforeWeight %> lbs <br>
          Height : <%= height %> ft <br />
          Before BMI: <%= beforeBmi %>
        </p>
    </div>

<div class="col-lg-6 col-sm-12">
      <p class="after-info">
        After Weight :<%= afterWeight %> lbs <br>
        Height : <%= height %> ft<br />
        Before BMI: <%= afterBmi %>

      </p>
  </div>
</div>

<div class="col-12 ">
  <p class="secret">
    The magician's secret : <%=secrets %>
  </p>
  </div>
</div>

  </div>




  <input type="hidden" name="usernameReset" value="<%= username %>" />


  <div class="container-fluid b1">
      <img class="bf front pics" src= "<%= beforeFront %>" alt="Before Front Picture" />
      <img class="after-front pics" src= "<%= afterFront %>"  alt="After Front Picture" />

  </div>

  <div class="container-fluid b1 b-l-side second">
      <img class="bf l-side pics" src="<%= beforeLeft %>" alt="Before Side Picture" />
      <img class="after-side pics" src="<%= afterLeft %>" alt="After Side Picture" />
  </div>

  <div class="container-fluid b1 b-r-side third first">
      <img class="bf r-side pics" src="<%= beforeRight %>" alt="Before Side 2 Picture" />
      <img class="after-side2 pics" src="<%= afterRight %>" alt="After Side 2 Picture" />
  </div>

  <div class="container-fluid b1 b-back fourth second">
      <img class="bf back pics" src="<%= beforeBack %>" alt="Before Back Picture" />
      <img class="after-back pics" src="<%= afterBack %>" alt="After Back Picture" />
  </div>



      </div>

  <script type=" text/javascript" src="/javascripts/voila.js"> </script>


  <%- include('partials/footer'); -%>
