<%- include('partials/header'); -%>



<body>



    <div class="container-fluid  heading ">

      <img class="logo" src="images/magicwand.png" alt="magic wand" />
      <h1> Voila ! </h1>


      <p class="other-text">
      </p>

    </div>



    <div class= "infoo">

      <p class= "before-info">
      Name : Michael Akinlosotu <%= firstName + lastName %> <br />
      Weight : <%= beforeWeight %> <br>
      BMI: <%= beforeBmi %>
      </p>

        <div class="container-fluid b1">

            <img class="bf front" src= "<%= photos[0] %>" alt="Before Front Picture" />
            <img class="after-front" src= "<%= photos[1] %>"  alt="After Front Picture" />
        </div>

        <div class="container-fluid b1 b-l-side second">
            <img class="bf l-side" src="<%= photos[2] %>" alt="Before Side Picture" />
            <img class="after-side" src="<%= photos[3] %>" alt="After Side Picture" />
        </div>

        <div class="container-fluid b1 b-r-side third first">
            <img class="bf r-side" src="<%= photos[4] %>" alt="Before Side 2 Picture" />
            <img class="after-side2" src="<%= photos[5] %>" alt="After Side 2 Picture" />
        </div>

        <div class="container-fluid b1 b-back fourth second">
            <img class="bf back" src="<%= photos[6] %>" alt="Before Back Picture" />
            <img class="after-back" src="<%= photos[7] %>" alt="After Back Picture" />

        </div>

    </div>

<script type=" text/javascript" src="/javascripts/voila.js"> </script>
</body>
</html>
