<%- include('partials/header'); -%>




    <div class= "infoo">

     <div class="upload-prompt">
       <h2 id="uploadPrompt"> Upload Front-Facing Before Picture</h2>
    </div>

    <form action='/upload' id="cloudUpload" method="post" enctype="multipart/form-data">
     <input type="hidden" name="username" value="<%= username %>" />
     <input type="hidden" name="firstName" value="<%= firstName %>" />
     <input type="hidden" name="lastName" value="<%= lastName %>" />
     <input type="hidden" name="beforeWeight" value="<%= beforeWeight %>" />
     <input type="hidden" name="afterWeight" value="<%= afterWeight %>" />
     <input type="hidden" name="beforeBmi" value="<%= beforeBmi %>" />
     <input type="hidden" name="afterBmi" value="<%= afterBmi %>" />
     <input type="hidden" name="height" value="<%= height %>" />
     <input type="hidden" name="secrets" value="<%= secrets %>" />


      <input class="btn image-uploader choose-file-button btn-warning"  type='file' name='image' />
      <input class="btn btn-outline-warning image-uploader-submit-button" id="submitButton" type="submit" value="submit" />

    </form>

    </div>

<i class="far fa-images"></i>
<i class="fas fa-arrow-alt-circle-right"></i>
<img class="magic-hat" id="magic-hat" src="images/magic-hat.png" alt="Girl in a jacket">





<script type="text/javascript" src="/javascripts/voila.js" > </script>

<%- include('partials/footer'); -%>
